@{
    ViewBag.Title = "About Ride Along";
}
<h2>@ViewBag.Title</h2>
<h3>Our Goals</h3>

<p style="font:xx-large">
    Ride Along is a company dedicated to giving the most opportunity to explore the world and meet new people to its users. We pride ourselves on our innovative manner of thinking
    to pair users with common destinations together; and make their journeys more enjoyable. Whether they are traveling to Westernesse for eternal bliss, making a voyage to Morder
    to save all of Middle Earth, or perhaps just looking to go on a short vacation to different location: Ride Along has everything they could possibly want.
</p>
