@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>

<address>
    Ride Along<br />
    Bag End, The Shire<br />
    <abbr title="Phone">P:</abbr>
    1.800.GANDALF
</address>


<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">angmar.witchking@MinasMorgul.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">sauroman.thewhite@Isengard.net</a><br/>
    <strong>Reviews:</strong>   <a href="mailto:Reviews@example.com">elrond@rivendell.org</a>
</address>
