
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RideAlongMVC.Models.Share>


<h2>Index</h2>

<body>
    @if(Model.Count() != 0 )
    {
        foreach (var share in Model)
        {
            <table>
                <tr>
                    <td>@share.DepartureCity</td>
                    <td>@share.DestinationCity</td>
                </tr>
                <tr>
                    <td>@share.Seats</td>
                    <td>@share.DepartureDate</td>
                </tr>
            </table>
        }
    }
</body>

